PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/<db>?retryWrites=true&w=majority
JWT_SECRET=replace_with_long_random_secret

# SMTP config for OTP emails
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM="Renzi <your-email@gmail.com>"

# Google OAuth Web Client ID
GOOGLE_CLIENT_ID=1059749889374-o1bvbtd3geaqt8bjert9r677hfad0ugo.apps.googleusercontent.com
